.form-group {
    margin-bottom: 15px;
    /* 增加或确认每个表单组之间的距离 */
}

.signup-container {
    width: 300px;
    margin: 12rem auto;
    /* 调整上边距 */
    padding: 20px;
    background-color: #000000;
    /* 设置背景颜色为黑色 */
    border: 3px solid rgb(0, 0, 0);
    /* 添加红色边框 */
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(146, 146, 146, 0.5);
    /* 调整阴影，增加对比 */
    color: #ffffff;
    /* 设置内部文字颜色为白色 */
}

.signup-container h2,
.signup-container label {
    text-align: center;
    color: #ffffff;
    /* 设置标题和标签文字为白色 */
}

.form-group input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #ffffff;
    /* 输入框背景设置为深灰色以增强可读性 */
    color: #000000;
    /* 输入框内文字颜色设置为白色 */
}

.form-group input.invalid {
    border: 2px solid red;
    /* 输入不符合要求时边框为更明显的红色 */
}

.error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

button {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: none;
    background-color: #ff0000;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #000000;
    color: rgb(255, 0, 0);
    border: 1px solid #ff0000;
}