<div class="signup-container">
    <form (ngSubmit)="onSignUp()">
        <h2>Sign Up</h2>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" [(ngModel)]="email" name="email" required [class.invalid]="!isValidEmail && submitted">
            <div *ngIf="!isValidEmail && submitted" class="error-message">{{emailError}}</div>
        </div>
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="username" [(ngModel)]="username" name="username" required [class.invalid]="!isValidUsername && submitted">
            <div *ngIf="!isValidUsername && submitted" class="error-message">{{usernameError}}</div>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" [(ngModel)]="password" name="password" required [class.invalid]="!isValidPassword && submitted">
            <div *ngIf="!isValidPassword && submitted" class="error-message">{{passwordError}}</div>
        </div>
        <div class="form-group">
            <button type="submit">Register</button>
        </div>
    </form>
</div>