button {
    background-color: #ff0000;
    color: #ffffff;
}

button:hover {
    background-color: #ffffff;
    color: #ff0000;
}

img {
    width: 100%;
    transition: transform 450ms;
}

h5 {
    color: #ffffff;
}

.row img:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.row>.col-lg-10 {
    max-width: 80%;
}

.row>.col-lg-2 {
    max-width: 20%;
}