.login-container {
    background-color: black;
    width: 300px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: auto;
    margin-top: 50px;
}

h2 {
    text-align: center;
    color: white;
}

.form-group {
    margin-bottom: 15px;
}

label {
    color: white;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: none;
    background-color: white;
    cursor: pointer;
}

button:hover {
    background-color: #f8f8f8;
}