.navbar-brand,
.nav-link.active[aria-current="page"] {
    color: red !important;
    font: bold;
    font-weight: 700;
}


/* 當導航欄被折叠時，仍然將"Home"文本設為紅色 */


/* 导航链接的基本样式 */

.navbar-nav .nav-link {
    font-weight: 700;
    color: #ff0000;
    /* 默认文字颜色 */
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    padding-left: 3px;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active:hover {
    color: #ffffff!important;
    /* 背景颜色变成文字颜色 */
    background-color: #ff0000;
    /* 文字颜色变成背景颜色 */
}


/* 针对折叠时的"Search"按钮文本样式 */

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='red' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
}


/* 改变折叠后的导航项的颜色 */

.navbar-collapse .nav-link {
    color: red !important;
}