<!--navbarbegin-->
<nav class="navbar navbar-expand-lg fixed-top">
    <div class="container-fluid justify-content-between">
        <a class="navbar-brand" routerLink="">Show Time</a>
        <button class="navbar-toggler" type="button" (click)="toggleNavbar()" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" [class.show]="navbarOpen" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item" (click)="navbarOpen ? toggleNavbar() : null">
                    <a class="nav-link active" aria-current="page" routerLink="">Home</a>
                </li>
                <li class="nav-item" (click)="navbarOpen ? toggleNavbar() : null">
                    <a class="nav-link" routerLink="search">Search</a>
                </li>
                <li class="nav-item" *ngIf="!userService.isAuthenticated()">
                    <a class="nav-link" routerLink="login">Log in / Sign up</a>
                </li>
                <li class="nav-item" *ngIf="userService.isAuthenticated()">
                    <a class="nav-link" (click)="userService.logout()">Logout</a>
                </li>
                <li class="nav-item" *ngIf="userService.isAuthenticated()">
                    <img [src]="userService.getUser().avatar" alt="User Avatar"> {{ userService.getUser().username }}
                </li>

            </ul>
        </div>
    </div>
</nav>

<!--navbarend-->

<router-outlet></router-outlet>